# These custom, private database details are merged on top of project.yaml
_parts:
  osm2pgsql: &osm2pgsql
    type: "postgis"
    host: "localhost"
    port: "5432"
    user: "osm"
    dbname: "gis"
    key_field: ""
    geometry_field: "way"
  canvec: &canvec
    type: "postgis"
    host: "localhost"
    port: "5432"
    user: "osm"
    dbname: "canvec"
    key_field: "ogc_fid"
    geometry_field: "wkb_geometry"
